<!DOCTYPE html>
<html lang="zh-Hant">
</head>
    <meta charset="UTF-8">
    <title>Record of Life</title>
<body>
    <h1>新增一篇文章</h1>
    <form method="POST" action="/new">
        <label for="title">標題:<label><br>
        <input type="text" id="title" name="title" requird ed><br><br>

        <label for"content">內容</label><br>
        <textarea id="content" name="content" rows="8" cols"40" required></textarea><br><br>

        <button type = "submit">送出</button>

    <form>
    
    <p><a href="{{url_for('index')}}">回首頁</a></p>

    </body>
    </html>

